.center {
  margin-top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.auth-button {
  border-radius: 50px;
  border: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #E9E8E8;
  background-image: linear-gradient(to right top, #6c5d8b, #62709e, #5a83aa, #5995b1, #63a5b4, #56b3ba, #4dc0bb, #51cdb5, #2ddba9, #1be794, #39f275, #61fb47);
  background-size: 400%;
  transition: 0.5s;
  box-shadow: 3px 3px 3px #02011b;
}

.auth-button:hover {
  border-color: yellow;
  cursor: pointer;
  transition: .5s;
  transform: center;
  background-size: 100%;
  text-decoration: none;
  scale: 1.1;
}

.link:hover {
  cursor: pointer;
  transition: .5s;
  scale: 1.05;
  text-decoration: underline;
}