html {
  background-image: linear-gradient(to left bottom, #d1ddeb, #aed4e4, #c0dbdf, #abd3d2, #c2d8d0, #c2ebd0, #cde6c9, #deecce, #e1eccb, #f0f8d9, #f1f9bf, #fbfec5);
  background-repeat: no-repeat;
  height: 100%
}
