html {
  background-image: linear-gradient(to left bottom, #6ea6ea, #43b9ec, #33c8e2, #56d5d0, #84debc, #9ee3b5, #b7e8b1, #d0ecaf, #dbf0b4, #e6f5b9, #f1f9bf, #fbfec5);
  background-repeat: no-repeat;
  height: 100%
}